/* Register the global Boogaloo font */
@font-face {
  font-family: "Boogaloo";
  src: url("assets/fonts/boogalooRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body, h1, canvas, #overlay, button, label {
  font-family: "Boogaloo", sans-serif;
}

/* Apply globally */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background-image: url("assets/img/background/desert.jpg");
  color: #fff; /* ensures text is readable */
  background-position: center;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

canvas {
  background-color: black;
  display: block;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
    canvas {
    height: 100dvh;
  }
}

button {
  cursor: pointer;
}
